html, body {
  background-color: #03012c;
}

#mainContainer {
  position: absolute;
  left: 50%;
  top: 30px;
  width: 500px;
  transform: translateX(-50%);
}
#mainContainer .inputErrorsContainer .inputError {
  margin: 0px;
  color: #FF0000;
}
#mainContainer .inputErrorsContainer .inputError:first-child {
  margin-top: 10px;
}