//// COLORS ////

$text-color: #FFFCF2;
$text-dark-color: #CCC5B9;
$main-color: #EB5E28;
$main-light-color: #EE7444;
$bg-color: #403D39;
$bg-dark-color: #252422;

html, body {
	height: 100%;
	padding: 0px;
	margin: 0px;
}