@import "variables";

* {
	font-family: $text-font;
}

*:focus {
	box-shadow: -5px 0.5px 0px -0.5px $main-color;
	outline: none;
	transition-property: box-shadow;
	transition-duration: .3s;
}

/* Width */
::-webkit-scrollbar {
	width: 12px;
}

html, body {
	height: 100%;
	padding: 0px;
	margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
	color: $text-color;
	font-family: $title-font;
}

p, label {
	color: $text-color;
	font-family: $text-font;
}

a {
	text-decoration: none;
}

$button-margin: 20px;

.divider {
	width: 100%;
	height: 0;
	margin: $button-margin 0 $button-margin 0;
	border-bottom: 1px solid $main-color;
}

.halfPageContainer {
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0%;
}

.button {
	$height: 50px;
	width: 100%;
	height: $height;
	background-color: $main-color;
	margin-bottom: $button-margin;
	@if $round-border {
		border-radius: $height / 2;
	}

	text-align: center;
	line-height: $height;
	color: $text-color;
	font-family: $text-font;
	font-weight: 600;
	font-size: 25px;

	cursor: pointer;
	transition-duration: .3s;
	user-select: none;

	&:hover {
		// transform: scale(1.05);
		filter: brightness(.9);
	}

	&:active {
		transform: scale(1.05, 0.95);
	}
}

.outlineButton {
	border: 1px solid $main-color !important;
	background-color: transparent;
	color: $main-color;
}

.inputContainer {
	width: 100%;
	border: 1px solid $main-color;
	margin-bottom: $button-margin;
	box-sizing: border-box;
	padding: 15px;
	box-shadow: 5px 5px 0 $main-color;

	label {
		position: relative;
		width: 100%;
		margin: 0;
		color: $main-color;
		user-select: none;
	}

	input[type=text], input[type=password], input[type=email] {
		width: 100%;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid $main-color;
		margin-top: 10px;
		color: $text-color;
		font-size: 25px;
		font-family: $text-font;
		transition-property: padding, width;
		transition-duration: .3s;

		&:focus {
			padding-left: 10px;
			width: calc(100% - 10px);
			background-color: transparent !important;
		}
	}
}

// input:-webkit-autofill {
//     -webkit-box-shadow: 0 0 0px 1000px $main-color inset;
// }

// input:-webkit-autofill:focus {
//     -webkit-box-shadow: 0 0 0 50px $bg-dark-color inset;
//     -webkit-text-fill-color: $text-color;
// }

.inputContainerSimple {
	@extend .inputContainer;
	border: none;
	box-shadow: none;
}

.inputError {
	margin: 0px;
	color: #FF0000;

	&:first-child {
		margin-top: 10px;
	}
}

// * {border: 1px solid red;}

.linkPreviewContainer {
	$height: 140px;

	width: 100%;
	height: $height;
	margin-bottom: 15px;

	display: flex;

	border: 1px solid $main-color;

	cursor: pointer;
	
	* {
		user-select: none;
	}

	.linkImg {
		width: $height;
		height: 100%;
		border-right: 1px solid $main-color;

		background-size: cover;
		background-position: center;
	}

	.linkInfoContainer {
		width: calc(100% - #{$height});
		height: 100%;

		padding: 12px;
		box-sizing: border-box;

		* {
			margin: 0px;
			overflow: hidden;
		}

		.linkTitle {
			font-size: 24px;
			margin-bottom: 10px;
		}

		.linkDescription {
			$line-height: 20px;
			height: $line-height * 2;
			line-height: $line-height;
			margin-bottom: 16px;

			font-size: 15px;
			color: $text-dark-color;
			font-weight: lighter;
		}

		.linkUrl {
			display: flex;
			
			span {
				padding: 0px;
				font-size: 16px;
				text-transform: uppercase;
				font-weight: bold;
				color: $text-dark-color;
			}

			img {
				height: 20px;
				margin-right: 5px;
			}
		}
	}
}

//// ANIMATION ////

@keyframes shakeX {
	0% {transform: translateX(1%);}
	20% {transform: translateX(-2%);}
	40% {transform: translateX(3%);}
	60% {transform: translateX(-2%);}
	80% {transform: translateX(1%);}
	100% {transform: translateX(0%);}
}

.shakeX {
	animation: .5s shakeX 1;
}

@keyframes hoverY {
	0% {transform: translateY(-5%);}
	50% {transform: translateY(5%);}
	100% {transform: translateY(-5%);}
}

.hoverY {
	animation: .5s hoverY infinite;
}

.loadingDots {
	@extend .hoverY;

	$delay: .45s;

	font-size: 50px;
	margin-right: 5px;

	transform: translateY(-5%);
	transition-timing-function: cubic-bezier(0.35, 0, 0, 1.65);

	&:nth-child(2) {
		animation-delay: -$delay;
	}

	&:nth-child(3) {
		animation-delay: -$delay * 2;
		margin-right: 0px;
	}
}