//// COLORS ////

$text-color: #FFFCF2;
$text-dark-color: #CCC5B9;
// $main-color: #EB5E28;
// $main-light-color: #EE7444;
$main-color: #ea638c;
$main-light-color: #b33c86;
$bg-color: #190e4f;
$bg-dark-color: #03012c;

//// FONTS ////
$text-font: 'Roboto', 'Helvetica', 'Arial';
$title-font: 'Roboto', 'Helvetica', 'Arial';